---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getEntry, getCollection } from "astro:content";
import dkImage from "../../content/pages/TAVOLATA_Bernhard_FAISSwebsite.jpg";
import { Image } from "astro:assets";
const af24 = await getEntry("pages", "af24");
const af24works = await getCollection("af24");
const { Content, headings } = await af24.render();
const { title, description, color } = af24.data;
---

<Layout {title} {description} {color}>
  <div
    class="flex flex-col items-center justify-center text-yellow prose-headings:text-orange prose-a:text-orange"
  >
    <Container>
      <ul class="p-0 m-0 inline">
        {
          af24works.map((d, i) => (
            <a
              href={"/angewandte-festival-2024/" + d.slug}
              class="no-underline "
            >
              <li class="font-sans inline text-3xl leading-none md:leading-none  md:text-5xl font-bold list-none">
                {d.data.title}
              </li>
            </a>
          ))
        }
      </ul>
      <br />
      <br />
      <Content />
    </Container>
  </div>
</Layout>
