---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getCollection, getEntry, getEntries } from "astro:content";

export async function getStaticPaths() {
  const schauraeume = await getCollection("schauraum");
  return schauraeume.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title="Zulassung" description="Test">
  <div
    class="flex flex-col items-center justify-center text-purple prose-headings:text-purple prose-a:text-purple"
  >
    <Container>
      <Content />
      {
        entry.data.slider?.map((slide) => (
          <div>
            <img src={slide.image.src} alt={slide.caption} />
            <p>{slide.caption}</p>
          </div>
        ))
      }
    </Container>
  </div>
</Layout>
