---
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getEntry, getCollection } from "astro:content";

const diplomas = await getCollection("diplomas");
const diplom = await getEntry("pages", "diplomas");
const { title, description, color } = diplom.data;

const { Content, headings } = await diplom.render();
---

<Layout {title} {description} {color}>
  <div
    class="flex flex-col items-center justify-center text-yellow prose-headings:text-orange prose-a:text-orange"
  >
    <Container>
      <ul class="p-0 m-0 inline">
        {
          diplomas.map((d, i) => (
            <a href={"/diplomas/" + d.slug} class="no-underline ">
              <li class="font-sans inline text-3xl leading-none md:leading-none  md:text-5xl font-bold list-none">
                {d.data.title}
              </li>
            </a>
          ))
        }
      </ul>
      <br />
      <br />
      <Content />
    </Container>
  </div>
</Layout>
