---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getEntry } from "astro:content";
const admissions = await getEntry("pages", "admissions");
const { Content, headings } = await admissions.render();
const { title, description, color } = admissions.data;
---

<Layout {title} {description} {color}>
  <div
    class="flex flex-col items-center justify-center text-yellow prose-headings:text-green marker:text-yellow prose-a:text-yellowstyle="text-decoration: none; "
  >
    <Container>
      <Content />
    </Container>
  </div>
</Layout>
