---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import News from "@components/news.html";
---

<Layout
  title="Digitale Kunst"
  description="Digitale Kunst Admission Team dkTalents Labs Open House Angewandte Festival Diplomas NFT Gallery SSSpeedshows Contact|"
  showContact
  open
>
  <div
    class="flex flex-col items-center justify-center text-yellow prose-headings:text-yellow marker:text-yellow prose-a:text-yellow !text-decoration:none"
  >
    <Container>
      <!--
       <p>
        <h1>A riot tech approach to code, emotion, theory flex, aesthetics. It’s not clean. It’s not quiet. But it’s real. And it works. We eat together, watch insurgency grow. The city bleeds into us. Survival becomes method. Non-contrarian soft contradiction, max impact. Digital art ain't discipline — it's ethics. </h1><br>
      </p> -->



  <p>     
        <h1><a href="https://application.uni-ak.ac.at" class="font-bold no-underline" target="_blank" rel="noreferrer">APPLICATION</a><br/>Application Period: Jannuary 8th - Jannuary 22th 2026, 13.00 Uhr (MEZ)<br/>
          <a href="https://dieangewandte-at.zoom.us/j/68066569631" class="font-bold no-underline" target="_blank" rel="noreferrer">ONLINE OPEN DAY for Applicants Digitale Kunst via Zoom<br/>Jannuary 7th, 11:00 - 15:00, Meeting-ID: 680 6656 9631</a>
        </h1>
      </p>    
 <p>
    <h1>
    <a href="/billuart" class="font-bold no-underline">
       ARTIST TALK <br/> MORGANE BILLUART<br/>THE FINAL FORM OF THOUGHT: BECOMING THE PRODUCT
<br/>December 4th 2025, 15:30 at the Department of DIGITALE KUNST<br/>Georg-Coch-PLatz 2, 1st floor, Jungle (room 167)
    </a>
    </h1>
</p>

<p>
        <a href="https://www.dieangewandte.at/aktuell/aktuell_detail?artikel_id=1761273738176" class="font-bold no-underline" target="_blank" rel="noreferrer">
        <h1>PIXELvienna 18<br/>Explore, Fail, Repeat<br/>November 13th - 15th 2025<br/>Universität für angewandte Kunst Wien, Vordere Zollamtsstraße 7, 1030 Wien</h1></a>
      </p>
        <p>
        <a href="https://digitalekunst.click/open-house/" class="font-bold no-underline" ­>
        <h1>OPEN HOUSE at DK<br/>November 4th 2025</h1></a>
      </p>
      <p>
        <a href="/fotowien" class="font-bold no-underline">
        <h1>
          FOTO WIEN »Algorithmic Vertigo.«
          <br/>October 27th - November 4th 2025
        </h1></a>
      </p>
      <p><a href="/culttech25" class="font-bold no-underline">
        <h1>
          CULTTECH Summit(REACT 2025)<br/>Opening and Keynotes October 20th – 21th 2025
          at PSK Kassenhalle
        </h1></a>
      </p>
      <p>
        <a href="/af" class="font-bold no-underline" ­>
          <h1>ANGEWANDTE FESTIVAL 2025<br/>June 25th - 28th 2025 with</a>
        <a
          href="https://digitalekunst.click/angewandte-festival/AF2025/13_2025_ws_groteske_krallen/"
          class="font-bold no-underline">
          
            GROTESKE KRALLEN: fest.genagelt - Workshop, June 28th 2025 and
        </a>
        <a href="https://digitalekunst.click/angewandte-festival/AF2025/14_2025_andy_kassier/"
          class="font-bold no-underline">
            ANDY KASSIER: Identity as a playground - Open Lecture<br/>
            June 26th 2025
          </h1>
        </a>
      </p>
      <p>
        <a
          href="/chasing-echoes-and-taming-machines"
          class="font-bold no-underline">
          <h1>
            VIDEOSCREENINGS »Fever Dreams« / »Chasing Echoes and Taming
            Machines« [Lecture Tina Kult] Immersive Lab<br/> June 26th - 28th 2025</h1>
        </a>
      </p>
    </Container>
  </div>
</Layout>

<!-- UNCOMMENT THE SECTION BELOW TO SHOW THE NEWS STORED IN THE NEWS.HTML FILE IN THE COMOPONENTS FOLDER -->

<!-- <div
    class="h-screen w-screen flex items-center flex-col justify-center fixed top-0 p-6 left-0 bg-yellow news"
  >
    <div
      class="text-3xl font-bold cursor-pointer w-4 h-4 fixed top-4 right-4"
      onclick="document.querySelector('.news').classList.toggle('hidden')"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
        >
        </path>
      </svg>
    </div>
    <div
      class="text-black prose-headings:text-black prose max-w-full prose-p:!text-black"
    >
      <News />
    </div>
  </div>  -->
