---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getEntry } from "astro:content";
const lehrende = await getEntry("pages", "lehrende");
const { Content, headings } = await lehrende.render();
const { title, description, color } = lehrende.data;
---

<Layout {title} {description} {color}>
  <div
    class="flex flex-col items-center justify-center text-green prose-headings:text-green prose-a:text-green prose-li:decoration-green marker:text-green prose-li:text-lg prose-li:text-green"
  >
    <Container>
      <Content />
    </Container>
  </div>
</Layout>
