---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getEntry } from "astro:content";
const studieninfo = await getEntry("pages", "studieninfo");
const { Content, headings } = await studieninfo.render();
---

<Layout title="Studieninfo" description="Test">
  <div
    class="flex flex-col items-center justify-center text-green prose-headings:text-green prose-a:text-green prose-li:text-green"
  >
    <Container>
      <Content />
    </Container>
  </div>
</Layout>
