---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getEntry } from "astro:content";
const zulassung = await getEntry("pages", "zulassung");
const { Content, headings } = await zulassung.render();
---

<Layout title="Studieninfo" description="Test">
  <div class="flex text-green flex-col items-center justify-center">
    <Container>
      <!-- <Content /> -->
    </Container>
  </div>
</Layout>
