---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getEntry } from "astro:content";
const team = await getEntry("pages", "team");
const { Content, headings } = await team.render();
---

<Layout title="Team" description="Test">
  <div
    class="flex flex-col items-center justify-center text-green prose-headings:text-green prose-a:text-green"
  >
    <Container>
      <Content />
    </Container>
  </div>
</Layout>
