---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getEntry } from "astro:content";
const team = await getEntry("pages", "team");
const { Content, headings } = await team.render();
const { title, description, color } = team.data;
---

<Layout {title} {description} {color}>
  <div
    class="flex flex-col items-center justify-center prose-li:pr-2 prose-strong:text-yellow hover:prose-a:opacity-50 text-green prose-headings:text-green prose-li:inline prose-ul:inline prose-li:text-3xl md:prose-li:text-5xl prose-li:p-0 prose-ul:p-0 marker:none prose-a:text-green prose-h2:text-2xl md:prose-h2:text-3xl prose-li:decoration-green marker:hidden prose-a:no-underline prose-a:font-bold prose-li:text-green"
  >
    <Container>
      <Content />
    </Container>
  </div>
</Layout>
