---
import Link from "@components/Link.astro";
import dk from "../dk.svg";
import { SITE } from "@consts";
import { getCollection } from "astro:content";
import Scramble from "./Scramble";
type Props = {
  open: boolean;
  showContact: boolean;
  title: string;
  color?: string;
};

const { open, showContact = false, title, color } = Astro.props;
const slug = title.toLowerCase().replace(/ /g, "-");
---

<script is:inline>
  function closeMenu() {
    const content = document.getElementById("content");
    const blinker = document.getElementById("blinker");
    const currentElement = document.getElementById("currentElement");
    currentElement.classList.remove("hidden");
    blinker.classList.remove("hidden");
    content.classList.add("hidden");
    content.classList.remove("inline");
    k.classList.toggle("rotate-180");
  }
  function openMenu() {
    const content = document.getElementById("content");
    const blinker = document.getElementById("blinker");
    const k = document.getElementById("k");
    const currentElement = document.getElementById("currentElement");
    currentElement.classList.add("hidden");
    blinker.classList.add("hidden");
    content.classList.remove("hidden");
    content.classList.add("inline");
    k.classList.toggle("rotate-180");
  }
  function tol() {
    const content = document.getElementById("content");
    if (content.classList.contains("hidden")) {
      openMenu();
    } else {
      closeMenu();
    }
  }
</script>
<script define:vars={{ open, showContact }} is:inline>
  document.addEventListener("astro:page-load", () => {
    if (showContact) {
      console.log("showContact", showContact);
      openMenu();
    } else {
      if (open) {
        openMenu();
      } else {
        closeMenu();
      }
    }
  });
</script>

<!-- 
<script>
  import typingEffect from "typing-effect"; // when not using https://mgrsskls.github.io/typing-effect/typing-effect.js
  document.addEventListener("astro:after-swap", () => {
    // a single element
    typingEffect(document.querySelector("[data-typing-effect]"));

    // passing options
    typingEffect(
      Array.from(document.querySelectorAll("[data-typing-effect]"), {
        speed: 200,
        delay: 40,
        reset: false,
      })
    );
  });
  document.addEventListener("DOMContentLoaded", () => {
    // multiple elements
    typingEffect(
      Array.from(document.querySelectorAll("[data-typing-effect]")),
      {
        speed: 20,
        delay: 40,
        reset: false,
      }
    );
  });
</script>
<style is:global>
  [data-typing-effect] {
    visibility: hidden;
  }
</style> -->
<header>
  <div class="flex flex-wrap justify-between gap-y-2">
    <div class="transform">
      <div
        class="relative p-4 md:pr-24 text-3xl font-bold leading-none align-baseline md:text-5xl md:p-6"
      >
        <svg
          viewBox="0 0 28 27"
          class="h-[1.1rem] cursor-pointer md:h-[2.3rem] rotate-180 inline-block transform md:translate-x-[0.2rem] -translate-y-[0.15rem] md:-translate-y-[0.25rem] transition-all duration-100"
          fill="none"
          onmousedown="tol()"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="k"
            class="relative transition-all duration-200 origin-center transform origin-center-right"
            d="M0 26.5V0H28L22.5 13L27 26.5H0Z"
            fill="#E2E823"></path>
        </svg>

        <span id="content" data-typing-effect class={``}>
          <h1
            class="inline-block p-0 m-0 duration-150 transform cursor-pointer"
            id="title"
          >
            <a href="/" class="">
              {SITE.NAME}
            </a>
            <span id="blinker" class="hidden font-normal animate-blink">|</span>
          </h1>
          <a class="text-secondary" href="/open-house">Open House</a>

          <a class="text-orange" href="/angewandte-festival"
            >Angewandte Festival</a
          >

          <a class="text-cyan" href="/diplomas">Diplomas</a>
          <a transition:name="admissions" class="text-green" href="/admissions"
            >Admission</a
          >
          <!-- <a class=" text-green" href="/studieninfo"
            >Studieninfo</a
          > -->
          <!-- <a class=" text-green" href="/studierende"
            >Studierende</a
          > -->
          <a class="text-primary" href="/team">Team</a>
          <a class="text-secondary" href="/ssspeedshows">SSSpeedshows</a>
          <a class="text-cyan" href="/labs">Labs</a>
          <a class="text-primary" href="/contact">Contact</a>

         <!-- {
            showContact && (
              <>
                <a class="" href="mailto:digitalekunst@uni-ak.ac.at">
                  digitalekunst@uni-ak.ac.at
                </a>
                <a class="" href="tel:+43-1-71133-2640">
                  +43-1-71133-2640
                </a>
                Location Alte PSK Georg-Coch-Platz 2, 1st floor, A-1010 Vienna 
              </>
            )} -->

          <span class="font-normal animate-blink">|</span>
        </span>
        <a
          class={`hidden text-${color}`}
          href={title !== "Digitale Kunst" ? "/" + slug : "/"}
          id="currentElement"
          >{title} <span class="font-normal animate-blink">|</span></a
        >
      </div>
    </div>
  </div>
</header>
