---
import Link from "@components/Link.astro";
import dk from "../dk.svg";
import { SITE } from "@consts";
import { getCollection } from "astro:content";

type Props = {
  open: boolean;
  showContact: boolean;
};
const { open, showContact = false } = Astro.props;
---

<script is:inline>
  function closeMenu() {
    const content = document.getElementById("content");
    const blinker = document.getElementById("blinker");
    content.style.display = "none";
    blinker.classList.remove("hidden");
    k.classList.toggle("rotate-180");
  }
  function openMenu() {
    const content = document.getElementById("content");
    const blinker = document.getElementById("blinker");
    const k = document.getElementById("k");
    content.style.display = "inline";
    blinker.classList.add("hidden");
    k.classList.toggle("rotate-180");
  }
  function tol() {
    const content = document.getElementById("content");
    if (content.style.display === "none") {
      openMenu();
    } else {
      closeMenu();
    }
  }
</script>
<script define:vars={{ open }} is:inline>
  document.addEventListener("astro:page-load", () => {
    if (open) {
      openMenu();
    } else {
      closeMenu();
    }
  });
</script>

<header>
  <div class="flex flex-wrap justify-between gap-y-2">
    <div class="transform">
      <div
        class="text-2xl md:text-5xl relative align-baseline p-4 font-bold md:p-6 leading-none"
      >
        <svg
          viewBox="0 0 28 27"
          class="h-[1.1rem] md:h-[2.3rem] inline-block transform md:translate-x-[0.2rem] -translate-y-[0.15rem] md:-translate-y-[0.25rem] transition-all duration-100"
          fill="none"
          onclick="tol()"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="k"
            class="duration-200 origin-center relative transform transition-all origin-center-right"
            d="M0 26.5V0H28L22.5 13L27 26.5H0Z"
            fill="#E2E823"></path>
        </svg>

        <h1 class="m-0 p-0 transform duration-150 inline-block" id="title">
          <a href="/" class="hover:opacity-40">
            {SITE.NAME}
          </a>
          <span id="blinker" class="animate-blink hidden font-normal">|</span>
        </h1>
        <span id="content">
          <a class="hover:opacity-40 text-orange" href="/af24"
            >Angewandte Festival 24</a
          >
          <a class="hover:opacity-40 text-orange" href="/diplome">Diplome</a>
          <a
            transition:name="zulassung"
            class="hover:opacity-40 text-green"
            href="/zulassung">Zulassung</a
          >
          <a class="hover:opacity-40 text-green" href="/studieninfo"
            >Studieninfo</a
          >
          <a class="hover:opacity-40 text-green" href="/studierende"
            >Studierende</a
          >
          <a class="hover:opacity-40 text-green" href="/lehrende">Lehrende</a>
          <a class="hover:opacity-40 text-green" href="/team">Team</a>
          <a class="hover:opacity-40 text-secondary" href="/news">News</a>
          <a class="hover:opacity-40 text-secondary" href="/projekte"
            >Projekte</a
          >
          <a class="hover:opacity-40 text-secondary" href="/schauraum"
            >Schauraum</a
          >
          <a class="hover:opacity-40 text-cyan" href="/labs">Labs</a>
          {
            showContact && (
              <>
                <a
                  class="hover:opacity-40"
                  href="mailto:digitalekunst@uni-ak.ac.at"
                >
                  digitalekunst@uni-ak.ac.at
                </a>
                <a class="hover:opacity-40" href="tel:+43-1-71133-2640">
                  +43-1-71133-2640
                </a>
                Standort Expositur Alte PSK 1.0G Georg-Coch-Platz 2 od.
                Rosenbursenstraße 3, A-1010 Wien{" "}
              </>
            )
          }<span class="animate-blink font-normal">|</span>
        </span>
      </div>
    </div>
  </div>
</header>
