---
import Link from "@components/Link.astro";
import dk from "../dk.svg";
import { SITE } from "@consts";
import { getCollection } from "astro:content";

type Props = {
  open: boolean;
  showContact: boolean;
};
const { open, showContact = false } = Astro.props;
---

<script is:inline>
  function closeMenu() {
    const content = document.getElementById("content");
    const d = document.getElementById("d");
    const k = document.getElementById("k");
    const svg = document.getElementById("svg");
    const title = document.getElementById("title");
    const blinker = document.getElementById("blinker");
    if (!content) return;
    if (content.style.display === "none") {
      content.style.display = "inline";
      d.classList.toggle("md:opacity-0");
      svg.classList.toggle("md:-translate-x-[3vw]");
      title.classList.toggle("md:-translate-x-[3vw]");
      blinker.classList.toggle("hidden");
    } else {
      content.style.display = "none";
      d.classList.toggle("md:opacity-0");
      svg.classList.toggle("md:-translate-x-[3vw]");
      title.classList.toggle("md:-translate-x-[3vw]");
      blinker.classList.toggle("hidden");
    }
  }
  open && closeMenu();
</script>
<header>
  <div class="flex flex-wrap justify-between gap-y-2">
    <div class="transform">
      <div
        class="text-2xl md:text-[4vw] relative align-baseline p-4 font-bold md:p-6 leading-none"
      >
        <svg
          viewBox="0 0 903 421"
          fill="none"
          id="svg"
          onmousedown="closeMenu()"
          class="h-10 md:h-[2.8vw] md:inline-block transform md:-translate-y-[0.25rem] transition-all duration-100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_4_9)">
            <path
              id="d"
              class="duration-100 transform transition-all"
              d="M0 0H316.251C344.088 0.211282 370.715 11.4006 390.334 31.1319C409.952 50.8631 420.974 77.5385 421 105.35V315.65C420.868 343.55 409.716 370.27 389.969 389.998C370.221 409.727 343.476 420.868 315.55 421H0V0Z"
              fill="#E4E826"></path>
            <path
              id="k"
              class="duration-100 relative transform transition-all origin-center-right"
              d="M482 0H903L839.84 210.5L903 421H482V0Z"
              fill="#E4E826"></path>
          </g>
        </svg>
        <h1 class="m-0 p-0 transform duration-150 inline-block" id="title">
          <a href="/" class="hover:opacity-40">
            {SITE.NAME}
          </a>
          <span id="blinker" class="animate-blink hidden font-normal">|</span>
        </h1>
        <span id="content">
          <a class="hover:opacity-40 text-orange" href="/af24"
            >Angewandte Festival 24</a
          >
          <a class="hover:opacity-40 text-orange" href="/diplome">Diplome</a>
          <a
            transition:name="zulassung"
            class="hover:opacity-40 text-green"
            href="/zulassung">Zulassung</a
          >
          <a class="hover:opacity-40 text-green" href="/studieninfo"
            >Studieninfo</a
          >
          <a class="hover:opacity-40 text-green" href="/studierende"
            >Studierende</a
          >
          <a class="hover:opacity-40 text-green" href="/lehrende">Lehrende</a>
          <a class="hover:opacity-40 text-green" href="/team">Team</a>
          <a class="hover:opacity-40 text-secondary" href="/news">News</a>
          <a class="hover:opacity-40 text-secondary" href="/projekte"
            >Projekte</a
          >
          <a class="hover:opacity-40 text-secondary" href="/schauraum"
            >Schauraum</a
          >
          <a class="hover:opacity-40 text-cyan" href="/labs">Labs</a>
          {
            showContact && (
              <>
                <a
                  class="hover:opacity-40"
                  href="mailto:digitalekunst@uni-ak.ac.at"
                >
                  digitalekunst@uni-ak.ac.at
                </a>
                <a class="hover:opacity-40" href="tel:+43-1-71133-2640">
                  +43-1-71133-2640
                </a>
                Standort Expositur Alte PSK 1.0G Georg-Coch-Platz 2 od.
                Rosenbursenstraße 3, A-1010 Wien{" "}
              </>
            )
          }<span class="animate-blink font-normal">|</span>
        </span>
      </div>
    </div>
  </div>
</header>
