---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getEntry, getCollection } from "astro:content";
const labs = await getCollection("labs");
const lab = await getEntry("pages", "labs");
const { Content, headings } = await lab.render();
---

<Layout title="Labs" description="Test">
  <div
    class="flex flex-col items-center justify-center text-yellow prose-headings:text-cyan prose-a:text-cyan"
  >
    <Container>
      <ul class="p-0 m-0 inline">
        {
          labs.map((d, i) => (
            <a href={"/labs/" + d.slug} class="no-underline hover:opacity-50">
              <li class="font-sans inline text-5xl font-bold list-none">
                {d.data.title}
              </li>
            </a>
          ))
        }
      </ul>
      <Content />
    </Container>
  </div>
</Layout>
